.logo
{
  position: sticky;
  top: 0;
  width: 7%;
}
nav ul li a
{
  text-decoration: none;
  color: black;
}
ul
{
  list-style: none;
  padding-right: 17px;
}
nav ul li
{
  display: inline-block;

}
.content
{
    display: inline-block;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    padding: 4px;
    margin: -12px;
}
nav
{
  float: right;
  display: inline-block;
  margin-top: 2%;
  background-color:
}
ul a
{
  padding-right: 10px;
  font-size: larger;
  font-weight: bold;
  margin: 29px;
}
.button:hover
{
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}
nav
{
  position: sticky;
  top: 27px;
}
#cart1
{
  text-align: center;
  margin-top: 2%;
}


footer
{
  background-color: black;
  height: 3em;
  margin: -9px;
  padding-top: 3%;
  padding-left: 3%;
}
footer a
{
  text-decoration: none;
  color: white;
}
.af
{
  font-size: 19px;
  padding: 25px;
  font-family: sans-serif;
}
